body{
	font-family: georgia, times, serif;
	color: #000000;
	font-size: 1.2rem;
	line-height: 1.4em;
	margin: 0;
}
h1{
	font-size: 2rem;
	line-height: 1.3em;
}
p {
	margin-bottom: 1.5em;
}

.container{
	width: 85%;
	max-width: 1000px;
	margin: 0 auto;
}

.header{
	background: #000000;
	color: white;
	padding: 2rem 0;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
}
.header a{
	color: orange;
	text-decoration: none;
}
.logo-nav-container{
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.menu-icon{
	display: none;
}
.navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.navigation ul li{
	display: inline-block;
}
.navigation ul li a{
	display: block;
	padding: 0.5rem 1rem;
	transition: all 0.4s linear;
	border-radius: 5px;
}
.navigation ul li a:hover{
background: #4a4a4a;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

    }
 .btn-enviar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn-enviar:hover{
    background: #e39403;
}
.btn-borrar{
    padding: 15px;
    font-size: 16px;
    border: none;
    outline: 0px;
    background: orange;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    transition: all 300ms ease;
}
.btn-borrar:hover{
    background: #e39403;
}







.main{
	padding-top: 9rem;
}

.footer{
		background: #ccc;
	padding: 2rem 0;
	text-align: center;
	margin-top: 6rem ;

}
@media only screen and (max-width: 767px){

.menu-icon{
	display: block;
	cursor: pointer;
	padding: 0.5rem 1rem;
}

.navigation{
width: 100%;
margin-top: 1rem;

}
.navigation ul{
	display: none;
}
.navigation ul.show{
display: block;
}

.navigation ul li{
	display: block;
}
.navigation ul li a{
	display: block;
	padding: 0.5rem 0;
	transition: all 0.4s linear;
	border-radius: 5px;
}
.navigation ul li a:hover{
background: #4a4a4a;
}
















